<div>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    </head>

    <div class="main_Container">
        <div class="login_Container">
            <div class="container">
                <h1 class="reset_h1">Reset Password</h1>
                <div *ngIf="message" class="error_message_container">
                    <p>{{message}}</p>
                    <mat-icon class="clear_icon" (click)="removeMessage()">clear</mat-icon>
                </div>
                <form action="" [formGroup]="loginForm" (submit)="submit()">
                    <div class="input_field">
                        <label for="username">Username</label>
                        <div class="input_container">
                            <mat-icon class="icon">supervisor_account</mat-icon>
                            <input type="email" spellcheck="false" formControlName="username" placeholder="Type Your Username" />
                        </div>
                        <span><small class="error" *ngIf="username?.touched && username?.invalid">Enter Valid Username</small></span>
                    </div>
                    <div class="input_field">
                        <button class="reset_btn">Reset Password</button>
                    </div>
                </form>
                <div class="gotoLogin">
                    <p class="login_para">Go to ? <a class="link" [routerLink]="['../login']">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>