<div>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>
    </head>
    <div class="main_Container">
        <div class="login_Container">
            <div class="container">
                <h1 class="reset_h1">Reset Password</h1>
                
                <div *ngIf="message" class="error_message_container">
                    <p>{{message}}</p>
                    <mat-icon class="clear_icon" (click)="removeMessage()">clear</mat-icon>
                </div>
                
                <form [formGroup]="resetForm" (ngSubmit)="submit()">
                    <div class="input_field">
                        <label for="username">Password</label>
                        <div class="input_container">
                            <mat-icon class="icon">lock</mat-icon>
                            <input type="password" spellcheck="false" formControlName="password" placeholder="Type Your password" />
                        </div>
                        <span><small class="error" *ngIf="password?.touched && password?.invalid">Enter Valid Password</small></span>
                    </div>
                    <div class="input_field margin_top">
                        <label for="password">Confirm Password</label>
                        <div class="input_container">
                            <mat-icon class="icon">confirmation_number</mat-icon>
                            <input type="password" spellcheck="false" formControlName="confirm_password" placeholder="Type Your confirm Password" />
                        </div>
                        <span><small class="error" *ngIf="confirm_password?.touched && confirm_password?.invalid">Enter Valid Password</small></span>
                    </div>
                    <div class="input_field">
                        <button type="submit" class="reset_btn">Reset Password</button>
                    </div>
                </form>
                <div class="goto">
                    <p>Go to? <a [routerLink]="['../../login']" class="login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>