
*{
    margin: 0;
    padding: 0;
}

.login_Container{
    font-family: 'poppins';
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/bg-hero-desktop.svg");
    display: grid;
    place-items: center;
}

.container{
    width: 400px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin: 30px auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.error_message_container{
    width: 80%;
    margin: 10px auto;
    color: #d95e5e;
    display: flex;
    justify-content: space-between;
}

.clear_icon{
    cursor: pointer;
}


@media screen and (max-width: 769px) {
   .login_Container{
    background-image: url("../../assets/images/bg-hero-mobile.svg");
   }
   .container{
        width: 90%;
   }
}

.logo{
    width: 150px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}

.reset_h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: 	#2c2a2a;
    margin-bottom: 20px;
}

.input_field{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-family: 'poppins';
}

.input_field > label {
    font-size: 14px;
}

.input_container{
    display: flex;
    color: rgb(30, 29, 29);
    border-bottom: 2px solid #E3F7FF;
}

.icon{
    margin-top: 5px;
    color: #484444;
}

.input_container > input {
    outline: none;
    border: 0;
    margin: auto;
    padding: 5px;
    margin: 3px;
    font-size: 16px;
    width: 100%;
    --placeHolder-color: #0b0b0b;
}

input::placeholder {
    font-family: 'poppins'!important;
    font-size: 14px;
}

.margin_top{
    margin-top: 10px;
}

.forgot_password{
    margin: 0;
    text-align: right;
    padding-right: 30px;
    font-size: 14px;
}

.forgot_password:hover{
    cursor: pointer;
}

.goto{
    margin-top: 20px;
    text-align: center;
}

.login {
    color: #86d8ee;
    text-decoration: none;
}

.login:hover{
    cursor: pointer;
}

.extra_margin{
    margin-top: 8px;
}

.reset_btn{
    width: 100%;
    padding: 12px 5px;
    border-radius: 20px;
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #cee5db 0%, #ceeef7 74%);
}

.reset_btn:hover{
    cursor: pointer;
}

.error{
    color: rgb(224, 84, 84);
}

.forgot_link{
    color: black;
    text-decoration: none;
}