<div>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet"/>
    </head>
    <div class="container">
        <p class="reset_success">We've successfully Reset <br/> your password.</p>
        <div class="icon_container">
            <mat-icon class="check_icon">check</mat-icon>
        </div>
        <button class="login_btn" (click)="GotoLogin()" matDialogClose>Go to Login</button>
    </div>
</div>